<div id="moments">
	<div class="yellowbox">
		<h1>
			On fait de vos souvenirs, la mosaïque d'une vie
		</h1>

		<p>
			Epinglez pour la vie, vos instants et vos moments, vos coups de coeurs et vos envies
		</p>
	</div>

	<div class="yellow_top">
		<%= image_tag "ui/yellow_top.png" %>
	</div>
</div>

<script>
	$("#moments").slimBG("<%= asset_path ('bgs/moments.jpg') %>");
</script>