<div id="plan">
	<div class="bluebox">
		<h1>
			Planifiez votre vie et vos voyages, vos destinations et vos convoitises, 
		</h1>

		<p>
			Ne soyez plus limité dans vos rêves à ce que le temps vous accorde de voir, prenez ce que le monde voit à votre place.
		</p>
	</div>

	<div class="blue_top">
		<%= image_tag "ui/blue_top.png" %>
	</div>
</div>

<script>
	$("#plan").slimBG("<%= asset_path ('bgs/hamac.jpg') %>");
</script>