<div id="inspire">
	<div class="redbox">
		<h1>
			Trouvez l'inspiration pour vos pas les plus précieux dans la vie
		</h1>

		<p>
			Pour vos demandes en mariages, pour vos voyages de noces ou vos décors, pour vos diners aussi bien que pour votre style, ouvrez vous au mélange des cultures et des esprits.
		</p>
	</div>

	<div class="red_top">
		<%= image_tag "ui/red_top.png" %>
	</div>
</div>

<script>
	$("#inspire").slimBG("<%= asset_path ('bgs/inspire.jpg') %>");
</script>