<div id="stack">
	<div class="purplebox">
		<h1>
			Ne parlez plus a vos amis de vos découvertes au magasins! MONTREZ LES LEUR...
		</h1>

		<p>
			Ca prend une vie de tout voir, gagnez-là à consommer et profitez de ce que les autres ont à montrer...
		</p>
	</div>

	<div class="purple_top">
		<%= image_tag "ui/purple_top.png" %>
	</div>
</div>

<script>
	$("#stack").slimBG("<%= asset_path ('bgs/shoes.jpg') %>");
</script>