<div id="feed-module">

	<div class="content">
		<div class="left">

			<ul class="spans-block">
				<li>
					<span>Parceque ce sont </span>
				</li>
				<li>
					<span>"Eux" nos Punaizes...</span>
				</li>
			</ul>

		</div>

		<div class="right">
			<div class="feedbox">
				<!--
				<div class="image">
					<%= image_tag 'rails.png' %>
				</div>
			-->

				<div class="text">
					Pour chaque moment qui compte, pour chaque personne qui compte, pour chaque idée que l'on destine à quelqu'un, il y a une image qu'il l'illustre...
					<p><a href="fezef">L'équipe Punaize</a></p>
				</div>
			</div>
		</div>
	</div>
	
</div>

<script>
	$("#feed-module").slimBG("<%= asset_path ('bgs/people.jpg') %>");
</script>