#new_pun_modal {
	  width: 850px;


	.left {
		width: 500px;
		display: inline-block;

		text-align: center;

		.presentation {
			/*background: #fff;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-o-border-radius: 8px;
			-ms-border-radius: 8px;
			border-radius: 8px;
			-webkit-box-shadow: 0 0 10px #000;
			-moz-box-shadow: 0 0 10px #000;
			-o-box-shadow: 0 0 10px #000;
			-ms-box-shadow: 0 0 10px #000;
			box-shadow: 0 0 10px #000;*/

			background: rgba(57,60,61,0.8);
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
			box-shadow: 0 0 5px rgba(0,0,0,0.5);
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			border: 1px solid rgba(0,0,0,0.8);
			padding: 4px;
			line-height: 1.2;

			padding: 10px;
			margin: 10px;
			margin-bottom: 5px;

			text-align: center;

			textarea, input {

				margin-bottom: 5px;

				border-radius: 9px;

				-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
				box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
				border: 1px solid #000;

				font-family: "LatoLight";
				text-shadow: 0 1px 1px #fff;
				padding: 8px 12px;
				font-size: 17px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				line-height: 18px;
				color: #5a5a5a;

				&:focus {
					border-color: rgba(237,29,137,0.8);
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(237,29,137,0.8),0 0 0 #000;
					box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(237,29,137,0.8),0 0 0 #000;
					outline: 0;
					outline: thin dotted 9;
				}
			}

			textarea {
				margin: 0 auto;

				width: 430px;
				height: 70px;

				padding: 15px;	
			}

			input {
				width: 275px;

				margin-right: 3px;
			}

			select {
				width: 150px;
				height: 35px;

				color: #393c3d;
				font-family: "LatoLight";
				font-size: 17px;

				margin-bottom: 5px;

				background-color: #eee;
				display: inline-block;

				line-height: 35px;
			}


		}

		.product-type {
			/*background: #fff;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-o-border-radius: 8px;
			-ms-border-radius: 8px;
			border-radius: 8px;
			-webkit-box-shadow: 0 0 10px #000;
			-moz-box-shadow: 0 0 10px #000;
			-o-box-shadow: 0 0 10px #000;
			-ms-box-shadow: 0 0 10px #000;
			box-shadow: 0 0 10px #000;*/

			background: rgba(57,60,61,0.8);
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
			box-shadow: 0 0 5px rgba(0,0,0,0.5);
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			border: 1px solid rgba(0,0,0,0.8);
			padding: 4px;
			line-height: 1.2;

			padding: 10px;
			margin: 10px;
			margin-bottom: 5px;

			text-align: center;

			input {

				margin-bottom: 5px;

				border-radius: 9px;

				-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
				box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
				border: 1px solid #000;

				font-family: "LatoLight";
				text-shadow: 0 1px 1px #fff;
				padding: 8px 12px;
				font-size: 17px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				line-height: 18px;
				color: #5a5a5a;

				&:focus {
					border-color: rgba(237,29,137,0.8);
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(237,29,137,0.8),0 0 0 #000;
					box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 4px rgba(237,29,137,0.8),0 0 0 #000;
					outline: 0;
					outline: thin dotted 9;
				}
			}



			input {
				width: 275px;

				margin-right: 3px;
			}

			select {
				width: 150px;
				height: 35px;

				color: #393c3d;
				font-family: "LatoLight";
				font-size: 17px;

				margin-bottom: 5px;

				background-color: #eee;
				display: inline-block;

				line-height: 35px;
			}
		}

	}

	.right {
		display: inline-block;
		vertical-align: top;
		width: 275px;
			padding: 10px;
			margin: 10px;

		background: #fff;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-o-border-radius: 8px;
		-ms-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-shadow: 0 0 10px #000;
		-moz-box-shadow: 0 0 10px #000;
		-o-box-shadow: 0 0 10px #000;
		-ms-box-shadow: 0 0 10px #000;
		box-shadow: 0 0 10px #000;

		
		#image-uploader {
			height: 250px;
			width: 250px;

			margin: 10px;

			border: 2px dashed #A7AAAA;
			border-radius: 9px;

			input {
				height: 100%;
				width: 100%;

				opacity: 0;

				&:focus {
					opacity: 1;
				}
			}
		}		
	}

	#actions {
		background: rgba(57,60,61,0.8);
		
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.8);
	
		padding: 4px;
		line-height: 1.2;

		padding: 10px;
		margin: 10px;
		margin-right: 40px;
		margin-bottom: 5px;

		text-align: right;

		input {
			background-color: pink;
		}
	}
}