<div class="comment_form">
	<% if user_signed_in? %>

		<%= form_for(Comment.new(params[:comment])) do |f| %>
			<%= f.text_area :content %></br>

			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :pun_id, :value => @pun.id %>

			<div id="actions">
				<input name="commit" type="submit" value="Commenter" />
			</div>
			
		<% end %>

	<% else %>
		Veuillez vous connecter pour pouvoir commenter s'il vous plait
	<% end %>

</div>

