#moments, #stack, #plan, #inspire {
	position: relative;

	width: 960px;
	height: 300px;

	margin: 0 auto;

	margin-top: 20px;
	margin-bottom: 20px;

	.yellowbox {
		position: absolute;
		left: 0px;
		bottom: 0px;

		height: 150px;
		width: 390px;

		padding: 10px;

		background-color: rgba(229, 196, 17, 0.90);

		h1 {
			color: #f8f8f8;
			font: 2.1em 'helvetica neue', sans-serif;
			text-transform: uppercase;
			line-height: 90%;
			font-weight: bold;

			padding: 20px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}

		p {
			color: #f8f8f8;
			font-size: 18px;
			font-weight: 100;

			padding: 0px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}
	}

	.yellow_top {
		position: absolute;
		top: 20px;
		right: 20px;


	}




	.purplebox {
		position: absolute;
		right: 0px;
		bottom: 0px;

		height: 215px;
		width: 390px;

		padding: 10px;

		background-color: rgba(106, 87, 131, 0.90);

		h1 {
			color: #f8f8f8;
			font: 2.1em 'helvetica neue', sans-serif;
			text-transform: uppercase;
			line-height: 90%;
			font-weight: bold;

			padding: 20px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}

		p {
			color: #f8f8f8;
			font-size: 18px;
			font-weight: 100;

			padding: 0px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}
	}

	.purple_top {
		position: absolute;
		top: 20px;
		left: 20px;


	}



	.bluebox {
		position: absolute;
		left: 0px;
		bottom: 0px;

		height: 190px;
		width: 390px;

		padding: 10px;

		background-color: rgba(36, 152, 206, 0.90);

		h1 {
			color: #f8f8f8;
			font: 2.1em 'helvetica neue', sans-serif;
			text-transform: uppercase;
			line-height: 90%;
			font-weight: bold;

			padding: 20px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}

		p {
			color: #f8f8f8;
			font-size: 18px;
			font-weight: 100;

			padding: 0px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}
	}

	.blue_top {
		position: absolute;
		top: 20px;
		right: 20px;


	}	



	.redbox {
		position: absolute;
		right: 0px;
		bottom: 0px;

		height: 180px;
		width: 390px;

		padding: 10px;

		background-color: rgba(250, 49, 82, 0.90);

		h1 {
			color: #f8f8f8;
			font: 2.1em 'helvetica neue', sans-serif;
			text-transform: uppercase;
			line-height: 90%;
			font-weight: bold;

			padding: 20px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}

		p {
			color: #f8f8f8;
			font-size: 18px;
			font-weight: 100;

			padding: 0px 20px 0 10px;
			margin: 0 0 0.15em 0;
		}
	}

	.red_top {
		position: absolute;
		top: 20px;
		left: 20px;


	}
} 