#new-punaise-container {
		margin: 0 auto;
		margin-top: 0px;
		margin-bottom: -40px;

		color: #4b5c66;
		text-align: center;





	h2 {
		-webkit-font-smoothing: antialiased;
		line-height: 60px;
		vertical-align: middle;
		text-align: center;
		font-family: Calibri;
		font-size: 50px;
		font-weight: 100;
	}



}