.puns-bg {
	background-color: #eeeeef;
}

#puns-container {
	list-style-type: none;
	position: relative; /** Needed to ensure items are laid out relative to this container **/
	margin: 0;

	width: 100%;
	margin: 0 auto;

	margin-top: 20px;

	//background-image: url(image-path('bgs/kindajean.png'));

	#pun {

		box-shadow: 0 0 3px 1px rgba(0,0,0,.05),0 1px 2px 0px rgba(0,0,0,.1);

		background: #fff;
		line-height: 22px;

		width: 240px;

		border-radius: 9px;

		margin: 0px;
		padding: 0px;

		.image {
			position: relative;

			margin: 0px;
			padding: 0px;

			&:hover > .overlay {
				visibility: visible;
			}


			img {
				position: relative;
				width: 240px;
				height: auto;

				border-radius: 9px 9px 0 0;

				margin-bottom: -7px;
				
				z-index: 10;

			}

			.overlay {
				position: absolute;
				left: 0px;
				top: 0px;

				visibility: hidden;

				height: 100%;
				width: 100%;

				z-index: 15;

				border-radius: 9px 9px 0 0;

				background-color: rgba(3, 3, 3, 0.5);

			}		
		}



		.stats {
			position: relative;
			
			-webkit-font-smoothing: antialiased;
			width: 240px;

			margin: 0 auto;

			font-family: 'LatoRegular';
			font-size: 16px;
			text-align: center;

			border-bottom: 1px solid #CFCFD0;

			.first, .second, .third {
				display: inline-block;

				min-width: 70px;
				max-width: 70px;

				margin: 0px;
				padding: 1px;
				padding-top: 4px;

				.number {
					font-family: "LatoBoldItalic";
					font-size: 30px;

					text-shadow: inset 0px 1px #fff, inset 0px 1px #fff, inset 0px 1px #fff;
				}
			}

			.first {
				border-right: 1px solid #CFCFD0;
			}

			.third {
				border-left: 1px solid #CFCFD0;
			}

		}


		.description {
			position: relative;
			
			-webkit-font-smoothing: antialiased;
			width: 220px;

			margin: 0 auto;

			padding: 5px 5px 10px 5px;

			font-family: 'LatoRegular';
			font-size: 16px;

			&:after {
				content: " ";
				height: 20px;
				width: 20px;

				background-color: #fff;

				//box-shadow: 0 0 3px 1px rgba(0,0,0,.05),0 1px 2px 0px rgba(0,0,0,.1);
				box-shadow: 2px 2px 2px rgba(0,0,0,.01),2px 2px 2px rgba(0,0,0,.1);

				position: absolute;
				bottom: -10px;
				left: 20px;

				transform:rotate(45deg);
				-ms-transform:rotate(45deg); /* IE 9 */
				-webkit-transform:rotate(45deg); /* Safari and Chrome */
			}

		}
	}

	.user-avatar {
		margin-top: 20px;

		display: inline-block;
		vertical-align: top;

		img {
			width: 60px;
			height: auto;

			border-radius: 9px;

			box-shadow: 0 0 5px rgba(0,0,0,0.2);
		}
	}

	.pinned-on {
	-webkit-font-smoothing: antialiased;
		position: relative;

		vertical-align: top;
		display: inline-block;

		height: 50px;
		width: 140px;

		box-shadow: 0 0 3px 1px rgba(0,0,0,.05),0 1px 2px 0px rgba(0,0,0,.1);

		background: #fff;
		border-radius: 9px;

		margin-top: 19px;
		margin-left: 14px;
		padding-left: 12px;
		padding-right: 10px;
		padding-top: 10px;

		line-height: 60px;
		vertical-align: middle;

		&:after {
			content: " ";
			height: 20px;
			width: 20px;

			background-color: #fff;

				//box-shadow: 0 0 3px 1px rgba(0,0,0,.05),0 1px 2px 0px rgba(0,0,0,.1);
			box-shadow: -2px 2px 2px rgba(0,0,0,.01),-2px 2px 2px rgba(0,0,0,.1);

			position: absolute;
			bottom: 20px;
			left: -10px;

			transform:rotate(45deg);
			-ms-transform:rotate(45deg); /* IE 9 */
			-webkit-transform:rotate(45deg); /* Safari and Chrome */
		}

		.sur {
			font-weight: bold;
			line-height: 20px;
			vertical-align: middle;
		}

		.board {
			color: red;
			font-weight: bold;

			line-height: 20px;
			vertical-align: middle;
		}

	}
	.clear {
		height: 5px;
		margin-bottom: -20px;
	}
}