<div id="new_board_modal" class="modal">
    <%= form_for(Board.new(params[:board]), :remote => true) do |f| %>



    	<div class="name">
    		<%= f.text_field :name, :placeholder => "Nommez moi..." %>
    	</div>

    	<div class="description">
    		<%= f.text_area :description, :placeholder => "Est ce que j'ai un but dans la vie?" %>
    	</div>
		
				
		
		<%= f.hidden_field :user_id, :value => current_user.id %>

		<div id="actions">
			<input name="commit" type="submit" value="Ajouter à Mes Tableaux" />
		</div>

		

	<% end %>

</div>