@import "colors";

body {
	padding: 0px;
	margin: 0px;

	background-color: #fff;
	color: $writings;
	font-family: 'helvetica neue', arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}