	<div id="footer">

		<ul>
			<li><a href="">A propos</a></li>
			<li><a href="">Mentions Légales</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Facebook</a></li>
			<li><a href="">Twitter</a></li>
		</ul>
		
	</div>