	<div id="footer">

		<ul>
			<li>TM + © 2013 Punaize, LLC. Tous droits réservés</li>
			<li><a href="">A propos</a></li>
			<li><a href="">Mentions Légales</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + location.href, 'sharer', 'width=626,height=436');">Facebook</a></li>
			<li><a href="">Twitter</a></li>
			<li>Proudly made in <%= image_tag "icons/tounes.png" %> with <%= image_tag "icons/amour.png" %></li>
		</ul>
		
	</div>