	<div id="header">
		<%= image_tag "logo.png" %>

		<div class="menu">
			<ul>
				<li><a href="">Explorer</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Se Connecter</a></li>
				<li><a href="">Nous Rejoindre</a></li>
			</ul>
		</div>

	</div>
	<div id="announce">
		<%= image_tag 'icons/alert.png' %> Ceci est la Beta de Punaize.com, la plateforme est encore restreinte au testeurs.
	</div>